*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/*
body {
	background: linear-gradient(to right,
		#f0efdb 0%,
		#f0efdb 50%,
		#e85253 50%,
		#e85253 100%);
		font-size: 15rem;
*/

body{
	background: linear-gradient(to right,
		#f0efdb 0%,
		#f0efdb 50%,
		#e85253 50%,
		#e85253 100%);
		text-align: center;
		font-size: 5rem;
}
h1{
	background: linear-gradient(to right,
		#e85253 0%,
		#e85253 50%,
		#f0efdb 50%,
		#f0efdb 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}